body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width :400px;
 
   
}
 .contex
 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
 }

 .input input
 {
    height: 45px;
    border-radius: 3px;
    font-size: large;
}
 
.btn
{
     height: 50px;
     width:60px;
     border-radius: 3px;
     background-color:#146c43;
     border-color:#146c43;
 color: white;
 font-size:large;
}
 ul
 {
    list-style: none;
    padding: 0;
    margin-top: 20px;
 }
 ul li{
    background-color:#E0E8F0;
    border: 1px solid  #8D9AA9;
    border-radius: 5px;;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
ul li button
{
    background-color: transparent;
    border: none;
    color: red;
    font-size: large;
    cursor: pointer;
}
ul li button:hover
{
    color: rgb(128, 46, 46);
}
